:root{
    --WhiteText: #ffffff;
    --blackText: #111111;
    --blueBackground: #3DA9FC;
    --navyBackground: #094067;
    --redBackground: #EF4565;
}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/*
    HOME PAGE
*/
header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("Assets/HOMEPAGE/EurostarTrain.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

nav{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav > h1{
    cursor: pointer;
    color: white;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

nav ul li.selected{
    border-bottom: 2px solid var(--blueBackground);
}

nav ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

nav ul li a:hover{
    border-bottom: 2px solid var(--blueBackground);
}

.content{
    margin: 100px;
    margin-top: 350px;
    text-align: left;
    color: white;
}

.content h1{
    font-size: 80px;
}

button{
    background-color: var(--blueBackground);
    width: 20%;
    padding: 20px;
    text-align: center;
    margin-top: 30px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    cursor: pointer;  
    transition: 0.5s;
    font-size: large;
}

button:hover{
    background-color: var(--navyBackground);
}
main h1{
    font-size: 50px;
    text-align: center;
    padding: 40px;
}

.selfie{
    float: left;
    margin-left: 100px;
}

.train{
    float: right;
    margin-right: 100px;
}

picture h3{
    text-align: center;
    font-size: x-large;
    padding: 20px;
}

picture.train h3{
    padding-left: 10px;
}

section{
    width: auto;
    height: 100vh;
}

.homePhotos{
    background-color: var(--navyBackground);
    color: white;
    padding: 30px;
}

main section.explore a{
    text-decoration: none;
    color: black;
    transition: 2s ease;
}

main section.explore img:hover{
    scale: 1.01;
    border-radius: 10px;
}
.homePhotos picture img{
    margin-left: 60px;
    padding-bottom: 40px;
}

.homePhotos picture img:hover{
    filter: grayscale(1);
}

.top{
    background-color: var(--redBackground);
    width: 10%;
    padding: 20px;
    margin: 20px;
    text-align: center;
    margin-top: 30px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    color: white;
    cursor: pointer;  
    transition: 0.5s;
    font-size: large;
    float: right;
}

.top a{
    text-decoration: none;
    color: var(--WhiteText);
}

.top a:hover{
    background-color: #e3143b;
    color: var(--WhiteText);
}

footer{
    text-align: center;
    color: white;
    background-color: var(--blueBackground);
    padding: 30px;
    width: aut;
}

footer p a{
    text-decoration: underline;
    color: white;
}

footer i{
    padding: 10px;
}

/*
    ABOUT PAGE
*/
.secondNav h1, .secondNav ul li a{
    color: var(--blackText)
}

.aboutPageSelfie{
    float: left;
}

.aboutPageMain{
    /* padding: 20px; */
    padding-right: 70px;
    /* margin-left: 20px; */
}

.aboutPageAboutMe{
    width: auto;
    height: 70vh;
}

.aboutPageAboutMe h1{
    text-align: center;
}

.floating picture{
    margin-right: 50px;
    padding-left: 70px;
}

.floating p{
    padding-left: 100px;
    font-size: 30px;
}

.aboutPageMain i{
    padding: 40px 50px 0px 0px;
    font-size: 60px;
}

.aboutPageMap{
    float: right;
}

.AboutPagemyJourney{
    padding: 10px;
    background-color: var(--navyBackground);
    color: var(--WhiteText);
    width: auto;
    height: 70vh;
}

.AboutPagemyJourney button{
    margin-left: 90px;
}